
/* Global Settings */
* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.itim-regular {
    font-family: "Itim", serif;
    font-weight: 400;
    font-style: normal;
}

/* May need to revisit this max width, especially when working on mobile responsiveness */
.wrapper {
    max-width: 1700px;
}

input, button, textarea, select {
    font: inherit;
  }

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

:root {
    --primary-color: #CC7722;
    --direct-compliment: #2277CC;
    --triad-color1: #00A692;
    --triad-color2: #977AE8;
    --gray-accent: #5C6166;
    --brown-accent: #1D0000;
}

svg {
    fill: white;
}

.wrapper {
    display: grid;
    grid-template-columns: minmax(260px, 320px) 4fr;
    grid-template-rows: 0.8fr minmax(0, 3fr);
    height: 100vh;
    justify-items: stretch;
    align-items: stretch;
    gap: 3px;
    background-color: var(--gray-accent);
    border-radius: 10px;
}

.sidebar, .header, .main {
    border-radius: 5px;
    padding: 20px;
}

/* Sidebar Settings */
.sidebar {
    grid-column: 1;
    grid-row: 1/4;
    display: grid;
    align-items: start;
    grid-template-rows: 0.5fr 2fr 2fr;
    background-color: var(--primary-color);
    color: white;
}

.sidebar_title {
    height: fit-content;
}

.sidebar_control_panel {
    height: fit-content;
}

.sidebar_title, .sidebar a {
    display: flex;
    justify-content: left;
    align-items: center;
}

.sidebar_title > svg {
    max-width: 54px;
    margin-right: 6px;
}

li {    
    font-size: 22px;
    font-weight: 400;
    padding: 7px;
}

li svg {
    margin-right: 13px;
    max-width: 42px;
}

/* Header Settings */
.header {
    grid-column: 2;
    grid-row: 1;
    background-color: var(--triad-color1);
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    grid-template-rows: 1fr 0.2fr 1fr;
    align-items: center;
}

.head_search svg, .notification_area svg {
    max-width: 34px;
}

search form {
    grid-row: 1;
    grid-column: 1;
    padding: 10px;
    margin-left: 16px;
    display: grid;
    grid-template-columns: 0.3fr 3fr 0.8fr;
    gap: 10px;
}

input#query {
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 3px var(--brown-accent);
    flex: 2 1 auto;
}

.notification_area {
    justify-self: end;
    display: grid;
    grid-template-columns: 50px 50px 150px;
    align-items: center;
    justify-content: space-around;
    margin-right: 18px;
}

.profile_small {
    max-height: 50px;
    max-width: 50px;
}

.head_greeting {
    font-size: 24px;
    font-style: italic;
    margin-left: 30px;
}

.head_profile_group, .headbutt_group {
    justify-content: space-between;
}

.head_profile_group {
    grid-column: 1;
    grid-row: 3;
    margin-left: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.profile_medium {
    min-width: 100px;
    margin-right: 36px;
}

.headbutt_group {
    grid-row: 3;
    grid-column: 1/3;
    justify-self: end;
}

.headbutt {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 680;
    background-color: var(--direct-compliment);
    border: none;
    border-radius: 15px;
    margin-right: 24px;
    box-shadow: 1px 1px 3px var(--brown-accent);
}

/* Main Section Settings */
.main_recent, .main_upcoming,
.main_announcements {
    padding: 10px;
    line-height: 1.5rem;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    background-color: var(--triad-color2);
    gap: 15px;
}

.main_section_title {
    font-size: 2rem;
    font-weight: 540;
    text-decoration: underline;
    margin-bottom: 25px;
    text-align: center;
}

/* Main Recent */

.main_recent {
    grid-column: 1;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;

}

.recent_card_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.card, .announcement_card {
    background-color: white;
    color: black;
    border-radius: 7px;
}

.card {
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-left: 8px solid #CC7722;
    box-shadow: 3px 4px 5px var(--brown-accent);
}

.card > * {
    font-family: "Itim", serif;
    font-size: 1.25rem;
    padding: 5px;
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Main Upcoming */

.main_upcoming {
    grid-column: 2;
    text-align: center;
}

.week_calendar {
    display: grid;
    grid-template-columns: repeat(7, max-width(fit-content));
    grid-auto-flow: column;
    gap: 2px;
}

.week_calendar div {
    border-radius: 7px;
    padding: 5px;
    background-color: white;
    color: black;
}

.week_calendar div, .announcement_card {
    box-shadow: 1px 1px 2px silver;
}

/* Update with JavaScript: START */
.week_calendar .sun, .week_calendar .mon {
    background-color: var(--gray-accent);
    color: white;
}

.week_calendar .tue {
    background-color: green;
    color: white;
}

.week_calendar .fri {
    background-color: var(--direct-compliment);
    color: white;
}
/* Update with JavaScript: END */

.week_summary {
    margin-top: 36px;
}

.week_summary div {
    margin-bottom: 24px;
}

.week_title {
    font-size: 1.3rem;
    font-weight: bold;
    background-color: green;
    color: white;
    border-radius: 7px;
    padding: 10px;
}

.week_summary_today, .week_summary_pending {
    background-color: white;
    color: black;
    border-bottom: 2px solid black;
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 3px;
}

/* Main Announcements */
.main_announcements {
    grid-column: 2;
}

.announcement_card_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
}

.announcement_card {
    padding: 5px;
    font-size: 1.1rem;
}

.announcement_card > * {
    margin-left: 10px;
    margin-bottom: 8px;
}